body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Bungee Hairline', sans-serif;
    
}

#header{
    font-size: 15vh;
    line-height: 10vh;
    font-weight: 900;
    margin: 10vh 0 2vh 0;
}

#tagline{
    color: orange;
    font-size: 4vh;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div{
    text-align: center;
    flex: 0 1 100%;
}

