body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Bungee Hairline', sans-serif;
    overflow: auto;
}

#header{
    font-size: 10vh;
    line-height: 7vh;
    font-weight: 900;
    margin: 10vh 0 2vh 0;
    padding: 0 1vw 0 1vw;
}

#tagline{
    color: orange;
    padding: 0 1vw 0 1vw;
    font-size: 3vh;
    line-height: 5vh;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div{
    text-align: center;
    flex: 0 1 100%;
    margin: 0px;
}

#canvas_background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0px;
}

canvas{
    margin: 0px;
}
