body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Bungee Hairline', sans-serif;
    overflow: auto;
    padding: 0;
}

#header{
    font-size: 10vh;
    line-height: 7vh;
    font-weight: 900;
    margin: 10vh 0 2vh 0;
    padding: 0 1vw 0 1vw;
}

#tagline{
    color: orange;
    padding: 0 1vw 0 1vw;
    font-size: 3vh;
    line-height: 5vh;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    margin-bottom: 8vh;
}

.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div{
    text-align: center;
    flex: 0 1 100%;
    margin: 0px;
}

#canvas_background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0px;
}

canvas{
    margin: 0px;
}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10vh 1vw 5vh 1vw;
    justify-content: center;   
}

.card{
    cursor: pointer;
    max-width: 30vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: #303030;
    -webkit-transition: 0.25s; /* Safari */
    transition: 0.25s;
    border-radius: 5px;
    margin: 1vh 2vw 1vh 2vw;
    
}

.card:hover{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 0 10px orange;
}

.card_title{
    font-size: 3vh;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #303030;
    overflow-wrap: ellipse;
}

.card_blurb{
    font-size: 2vh;
    font-weight: 900;
    line-height: 2vh;
    color: grey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    padding-bottom: 1vh;
    overflow-wrap: clip;
}

.card_image{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footer{
    position: fixed;
    bottom: 0;
    color: ghostwhite;
    font-size: 2vh;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: ghostwhite;
    padding: 0;
    margin: 0;
}

.fab{
    font-weight: 400;
    -webkit-text-stroke-width: 0px;
    color: ghostwhite !important;
}

.flex_split{
    margin: 0;
    display: flex;
    justify-content: space;
    width: 100vw;    
}

#mobile_bar{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10vh 1vw 5vh 1vw;
    justify-content: center;

    color: ghostwhite;
    padding: 0 1vw 0 1vw;
    font-size: 3vh;
    line-height: 5vh;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: ghostwhite;
}

#left_footer{
    text-align: left;
    margin-left: 1vw;
}

#right_footer{
    text-align: right;
    margin-right: 1vw;
}

a{
    text-decoration-color: ghostwhite !important;
}